@font-face {
  font-family: "Lora Bold";
  src: url(../fonts/LoraBold.ttf);
}

@font-face {
  font-family: "Lora Regular";
  src: url(../fonts/LoraRegular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat.ttf);
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans SemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/opensans.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/robotolight.ttf);
}

@font-face {
  font-family: "SourceSansPro Semibold";
  src: url(../fonts/SourceSansPro-Semibold.ttf);
}

body {
  background-color: white;
}

.container {
  width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.index-header {
  background-image: url(../img/overlay.jpg);
  width: 1400px;
  margin: 0 auto;
  min-height: 711px;
}

.top-menu {
  min-height: 70px;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 37px;
}

.top-menu li {
  display: inline-block;
  margin-right: 55px;
}

.top-menu li:last-child {
  margin-right: 0;
}

.top-menu a {
  text-decoration: none;
  font-size: 14px;
  font-family: "OpenSans Semibold";
  color: white;
}

.index-logo {
  display: inline-block;
  width: 130px;
  margin: 0;
  margin-top: 24px;
}

.main-navigation {
  float: right;
  width: 530px;
}

.header-main-content {
  margin: 0 auto;
  text-align: center;
  margin-top: 220px;
  color: white;
}

.header-main-content h1 {
  font-family: "Lora Bold";
  font-size: 58px;
  line-height: 23px;
  margin-bottom: 60px;
}

.header-main-content h2 {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 25px;
  line-height: 23px;
  letter-spacing: 1px;
  margin-bottom: 94px;
}

.button {
  display: block;
  background-color: #00a5ff;
  padding: 25px 10px;
  color: white;
  font-family: "OpenSans Semibold";
  font-size: 25px;
  line-height: 23px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 36px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.header-main-content .button {
  width: 320px;
}

.services {
  padding-top: 75px;
  padding-bottom: 10px;
  margin-bottom: 95px;
}

main h2 {
  text-align: center;
  font-family: "Lora Bold";
  font-size: 42px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  color: #3a3f4b;
  text-transform: uppercase;
}

.blue-line {
  width: 147px;
  height: 4px;
  background-color: #00a5ff;
  margin: 0 auto;
}

.services .blue-line {
  margin-bottom: 90px;
}

.service-card {
  position: relative;
  display: inline-block;
  width: 253px;
  margin-right: 52px;
}

.service-card:last-child {
  margin-right: 0;
}

.service-card::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f5f6f8;
  left: 85px;
  background-position: center;
  background-repeat: no-repeat;
}

.service-card:nth-child(3)::before {
  background-image: url(../img/icons/icon-logo-design.png);
}

.service-card:nth-child(4)::before {
  background-image: url(../img/icons/icon-web-design.png);
}

.service-card:nth-child(5)::before {
  background-image: url(../img/icons/icon-branding.png);
}

.service-card:nth-child(6)::before {
  background-image: url(../img/icons/icon-illustrations.png);
}

.service-name {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #3a3f4b;
  font-family: "SourceSansPro Semibold", "Arial", sans-serif;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-bottom: 18px;
}

.service-divider {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 41px;
  background-color: #888888;
  height: 1px;
  border: 1px #e1e1e1 solid;
}

.service-description {
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.portfolio {
  background-color: #f5f6f8;
  padding-top: 40px;
  padding-bottom: 80px;
  min-width: 1190px;
}

.portfolio h2 {
  margin-top: 0;
}

.portfolio .blue-line {
  margin-bottom: 60px;
}

.portfolio-filters {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 550px;
  padding: 0 5px 5px;
}

.portfolio-filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-filters li {
  display: inline-block;
  margin-right: 57px;
}

.portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio-filters .filter-active {
  border-bottom: 1px #00a5ff solid;
}

.portfolio-filters a {
  font-family: "OpenSans Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-filters a:hover,
.filter-active a {
  color: #00a5ff;
}

.portfolio-card {
  width: 380px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:last-of-type {
  margin-bottom: 62px;
}

.portfolio-card p {
  font-family: "OpenSans Semibold", "Arial", sans-serif;
  font-size: 18px;
  color: #999999;
  margin: 25px 0;
  margin-left: 30px;
}

.portfolio .button {
  width: 280px;
  text-transform: uppercase;
  text-align: center;
}

.brands {
  padding-top: 70px;
  padding-bottom: 125px;
}

.brands h2 {
  margin-top: 0;
}

.brands .blue-line {
  margin-bottom: 75px;
}

.brands a {
  display: inline-block;
  min-height: 100px;
  width: 150px;
  margin-right: 50px;
  background-image: url(../img/brands/spritesheet.png);
}

.brands a:first-of-type {
  background-position: -30px -30px;
}

.brands a:nth-of-type(2) {
  background-position: -398px -10px;
}

.brands a:nth-of-type(3) {
  background-position: -30px -170px;
}

.brands a:nth-of-type(4) {
  background-position: -568px -18px;
}

.brands a:nth-of-type(5) {
  background-position: -415px -285px;
}

.brands a:last-of-type {
  margin-right: 0;
  background-position: -30px -420px;
}

.brands a:hover {
  background-image: url(../img/brands/spritesheet.png);
}

.brands a:first-of-type:hover {
  background-position: -214px -30px;
}

.brands a:nth-of-type(2):hover {
  background-position: -398px -148px;
}

.brands a:nth-of-type(3):hover {
  background-position: -235px -289px;
}

.brands a:nth-of-type(4):hover {
  background-position: -568px -160px;
}

.brands a:nth-of-type(5):hover {
  background-position: -579px -285px;
}

.brands a:last-of-type:hover {
  background-position: -239px -420px;
}

.reviews {
  background-color: #f5f6f8;
  padding-top: 60px;
  padding-bottom: 70px;
  min-width: 1190px;
}

.reviews .blue-line {
  margin-bottom: 50px;
}

.slider {
  position: relative;
  padding: 10px 0;
  margin-bottom: 55px;
  height: 400px;
}

.slider input {
  position: absolute;
  opacity: 0;
}

.slider-indicator {
  position: absolute;
  top: 395px;
  left: 550px;
  height: 12px;
  padding: 0 10px;
  z-index: 2;
}

.slider-indicator label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 17px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
}

#Jack:checked ~ .slider-indicator label[for="Jack"],
#Linda:checked ~ .slider-indicator label[for="Linda"],
#John:checked ~ .slider-indicator label[for="John"] {
  background-color: #3a3f4b;
}

.slider-indicator label:last-child {
  margin: 0;
}

.slide-toggler {
  position: absolute;
  top: 160px;
  width: 100%;
}

.slide-toggler div {
  cursor: pointer;
  width: 17px;
  height: 32px;
  z-index: 100;
}

.slide-toggler .prev-slide {
  background-image: url(../img/icons/icon-left.png);
  float: left;
}

.slide-toggler .next-slide {
  background-image: url(../img/icons/icon-right.png);
  float: right;
}

.slider-items {
  position: relative;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
}

#Jack:checked ~ .slider-items .slide:nth-child(1) {
  display: block;
}

#Linda:checked ~ .slider-items .slide:nth-child(2) {
  display: block;
}

#John:checked ~ .slider-items .slide:nth-child(3) {
  display: block;
}

.slider-items img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.review {
  width: 540px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: "Lora Regular", "Times New Roman", serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3a3f4b;
}

.review-author {
  font-family: "OpenSans Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.slide-for-jack::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 700px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/john-face-little.png);
}

.slide-for-jack::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 300px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/linda-face-little.png);
}

.slide-for-linda::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 700px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/jack-face-little.png);
}

.slide-for-linda::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 300px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/john-face-little.png);
}

.slide-for-linda a {
  color: #3a3f4b;
}

.slide-for-john::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 700px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/linda-face-little.png);
}

.slide-for-john::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 300px;
  width: 109px;
  height: 109px;
  background-image: url(../img/reviews/jack-face-little.png);
}

.contacts {
  position: relative;
  background-color: #3b404c;
  color: white;
  min-width: 1190px;
}

.contacts header {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
}

.contacts h3 {
  font-family: "Lora Bold";
  font-size: 33px;
  line-height: 24px;
  width: 175px;
  float: left;
  margin: 0;
  padding-bottom: 10px;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
}

.footer-menu li {
  display: inline-block;
  margin-right: 30px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  font-family: "OpenSans Regular";
  font-size: 21px;
  color: white;
  text-decoration: none;
}

.contact-data {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 10px;
  float: left;
}

.contact-data h4 {
  text-transform: uppercase;
  font-family: "OpenSans Semibold";
  font-size: 24px;
  margin: 0;
}

.contact-data p {
  font-family: "OpenSans Regular";
  font-size: 18px;
  line-height: 24px;
  color: #999999;
  width: 310px;
  padding: 20px 0;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 40px;
}

.contact-data a {
  text-decoration: none;
  color: #999999;
}

.send-feedback {
  float: right;
  width: 770px;
  padding-top: 50px;
}

.feedback-name,
.feedback-subject {
  display: inline-block;
  width: 360px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.send-feedback input,
.send-feedback textarea {
  display: block;
  background-color: inherit;
  font-family: "OpenSans Regular";
  color: white;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #999a9c;
}

.send-feedback input {
  height: 45px;
}

.send-feedback input:active,
.send-feedback textarea:active {
  border-bottom: 1px solid #00a5ff;
}

.feedback-name {
  margin-right: 45px;
}

.send-feedback label {
  font-family: "OpenSans Regular";
  font-size: 26px;
  line-height: 39px;
  padding-bottom: 10px;
}

.send-feedback textarea {
  margin-bottom: 40px;
}

.send-feedback .button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 280px;
}

.scroll-top {
  position: absolute;
  top: 665px;
  left: 720px;
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #00a5ff;
  outline: none;
  border: none;
  cursor: pointer;
}

.scroll-top a {
  display: block;
  width: 9px;
  height: 9px;
  text-align: center;
  border: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(45deg);
  margin: 0 auto;
}

.copyright-and-social {
  padding: 30px 0;
}

.copyright-and-social p {
  float: left;
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 26px;
  color: #999999;
  margin: 0;
}

.social-networks {
  float: right;
  width: 160px;
}

.social-networks a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-fb {
  background-image: url(../img/icons/icon-fb.png);
}

.social-tw {
  background-image: url(../img/icons/icon-twitter.png);
}

.social-flickr {
  background-image: url(../img/icons/icon-flickr.png);
}

.social-li {
  background-image: url(../img/icons/icon-linkedin.png);
  margin-right: 0;
}
